{
    "printWidth": 160,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "avoid",
    "singleAttributePerLine": false,
    "proseWrap": "never",
    "htmlWhitespaceSensitivity": "ignore",
    "embeddedLanguageFormatting": "auto",
    "plugins": [
        "prettier-plugin-astro",
        "prettier-plugin-tailwindcss"
    ],
    "overrides": [
        {
            "files": [
                "*.astro",
                "*.md",
                "*.mdx",
                "*.yaml"
            ],
            "options": {
                "tailwindStylesheet": "./src/styles/global.css",
                "parser": "astro",
                "tabWidth": 2
            }
        }
    ]
}