---
import { getCollection } from 'astro:content'
import FeaturedPostPreview from '../components/FeaturedPostPreview.astro'
import Hero from '../components/Hero.astro'
import PostPreview from '../components/PostPreview.astro'
import Subscribe from '../components/Subscribe.astro'
import siteConfig from '../data/site-config'
import Layout from '../layouts/Layout.astro'
import { sortPostsByDateDesc } from '../utils/post-utils'

const posts = (await getCollection('blog')).sort(sortPostsByDateDesc)
const featuredPosts = posts.filter(({ data }) => data.isFeatured)
const latestPosts = posts.filter(({ data }) => !data.isFeatured).slice(0, 3)
---

<Layout description={siteConfig.description} image={siteConfig.image}>
  <div class="relative border-b border-slate-100 bg-slate-50">
    <Hero />
  </div>
  <main class="grow py-12 sm:py-16">
    {
      featuredPosts?.length > 0 && (
        <div class="mb-12 border-b border-slate-200 px-4 sm:mb-16 sm:px-8">
          <div class="mx-auto max-w-6xl">
            {featuredPosts.map(post => (
              <FeaturedPostPreview post={post} />
            ))}
          </div>
        </div>
      )
    }
    {
      latestPosts?.length > 0 && (
        <div class="mb-12 px-4 sm:mb-16 sm:px-8">
          <div class="mx-auto mb-8 max-w-3xl sm:mb-12">
            <h2 class="text-sm tracking-wider text-slate-900 uppercase after:mt-4 after:block after:h-px after:w-16 after:bg-primary after:content-['']">
              Latest Articles
            </h2>
          </div>
          <div class="mx-auto max-w-3xl xl:max-w-6xl">
            {latestPosts.map(post => (
              <PostPreview post={post} />
            ))}
          </div>
          <div class="mx-auto max-w-3xl border-t border-slate-200 pt-8 sm:pt-12">
            <a
              class="inline-flex items-center justify-center gap-1.5 rounded-full bg-primary px-8 py-2.5 font-semibold text-white transition duration-300 hover:shadow-button"
              href="/blog">
              View All Posts
            </a>
          </div>
        </div>
      )
    }
    <Subscribe class="my-12 px-4 sm:my-16 sm:px-8" />
  </main>
</Layout>
